<ul class="list-unstyled">
	<% @tweets.each do |tweet| %>
	<li>
		<div id="tweet">
			<%= tweet.content %><br/>
			<b style="padding-left:5px">by <%= tweet.user.email %> at <%= tweet.created_at.strftime("%I:%M%p %m-%d-%Y ") %></b>
		</div>
	</li>
	<%end%>	
</ul>